
 
  .small { padding: 4px 8px; font-size: 12px; }
  .medium { padding: 8px 16px; font-size: 14px; }
  .large { padding: 12px 24px; font-size: 16px; }

  .base {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease;
  }
  

  .primary {
    background-color: var(--rraui-primary-bg-color);
    color: white;
  }

  .primary:hover {
    background-color: var(--rraui-primary-bg-hover);
  }

  
  .secondary {
    background-color: #f0f0f0;
    color: #333;
  }

  .glass {
    background:var(--rraui-glass-bg);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid var(--rraui-glass-border);
  }
  
  .glass:hover {
    background: rgba(255, 255, 255, 0.3);
  }